<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% extends 'demo/base.html' %}
{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <div class="tealDiv">
        <h1>What is Bookswap?</h1>
        <p>University of Notre Dame IDEA Center backed startup to help you buy and sell used textbooks</p>
        <h1>Vision:</h1>
        <p>Help students sell their textbooks to other Notre Dame students. Save money with Bookswap!</p>
        <h1>Goals:</h1>
        <p>
        <ul>
            <li>Reduce the environmental impact of printing new books over and over again</li>
            <li>Help students sell their unwanted textbooks for a significantly better value than bookstore buyback</li>
            <li>Help students buy used textbooks for less money than the bookstore</li>
        </ul>
        </p>
    </div>
</div>
{% endblock %}
</body>
</html>