<!doctype html>
<html lang="en">
<head>

    <title>BookSwap</title>
</head>
<body>
{% extends 'demo/base.html' %}
{% block content %}
<div class="container p-3 mb-2 text-black">

    <h2>Limited Time Offer:</h2>
    <p>Post your book before the end of finals week to be automatically entered to win one of 10 $10 Amazon gift cards!</p>
    <br>
    <h2>How To Use:</h2>
    <p>If you see a book you want to buy, send the poster an email. If you want to sell your book, click the add your
        book button!</p>
    <h3>For Questions, Please Contact: </h3>
    <p>rwiggles@nd.edu</p>

    {% if latest_listing_list %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>

                <th scope="col">Book Name</th>
                <th scope="col">Class Name</th>
                <th scope="col">ISBN</th>
                <th scope="col">Price</th>
                <th scope="col">Email</th>
                <th scope="col">Upload Date</th>
            </tr>
            </thead>
            <tbody>

            {% for listing in latest_listing_list %}
            <tr>
                <td>{{ listing.book_name }}</td>
                <td>{{ listing.class_name }}</td>
                <td>{{ listing.isbn }}</td>
                <td>${{ listing.price }}</td>
                <td>{{ listing.email }}</td>
                <td>{{ listing.upload_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <p>No Listing is available.</p>
            {% endif %}


            </tbody>
        </table>
    </div>
</div>
{% endblock %}
</body>
</html>