<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% extends 'demo/base.html' %}
{% block content %}

<div class="container">
    <br>
    <br>
    <h2>Founder</h2>
    <h3>Ryan Wigglesworth</h3>
    <p>Notre Dame Computer Science '22</p>
    <p>Interested? Send me a message on LinkedIn:</p>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="ryan-wigg"><a class="LI-simple-link" href='https://www.linkedin.com/in/ryan-wigg?trk=profile-badge'>Ryan W.</a></div>
</div>
{% endblock %}
</body>
</html>